table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: sans-serif;
}

td, th, caption {
    border: 1px solid #000;
    min-width: 30px;
    padding-left: 3px;
    box-sizing: border-box;
}

.red {
    color: red;
}